<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <navbar>
    <div class="container-fluid bg-dark" id="homepagenavbar">
    <div class="row align-items-center justify-content-between" id="homepagenavbarrow">
        <div class="col-3 homepagenavbarlogo">
            <a href="/" id="logo-name-a-tag">
            <h3 id="logo-name">turnuvam.com</h3></a>
        </div>
        <div class="col-3 homepagenavbarmenu" style="display: flex">
            <ul>
                <li><a href="/" id="homepage-writing">home page</a></li>
                <li><a href="/tournaments/allTournaments" id="tournaments-writing">tournaments</a> </li>
                <li>
                {% if user.is_authenticated %}
                 <span class="navbar-text me-4">
                 <a href="#"> Welcome, {{user.username}}</a>
                 </span>
                 <span class="navbar-text me-4">
                 <a href="../logout">Log Out</a>
                 </span>
                {% else %}
                 <span class="navbar-text me-4">
                 <a href="../login">Log In</a>
                </span>
                 <span class="navbar-text me-4">
                 <a href="../register">Register</a>
                 </span>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
    </div>
    </navbar>
    <div class="container-fluid gamesbar" id="gamesbar">
        <a href="/games/6" style="display:flex;">
            <img src="{% static 'counterstrike2.jpg' %}" alt="" style="width:50px;height:30px;">
            <h6>Counter Strike 2</h6>
        </a>
        <a href="/games/1" style="display:flex;">
            <img src="{% static 'lol.png' %}" alt="" style="width:50px;height:30px;">
            <h6>League of Legends</h6>
        </a>
        <a href="/games/4" style="display:flex;" >
            <img src="{% static 'valorant.png' %}" alt="" style="width:50px;height:30px;">
            <h6>Valorant</h6>
        </a>
        <a href="/games/3" style="display:flex;">
            <img src="{% static 'dota2.png' %}" alt="" style="width:50px;height:30px;">
            <h6>Dota 2</h6>
        </a>
        <a href="/games/5" style="display:flex;">
            <img src="{% static 'overwatch.png' %}" alt="" style="width:50px;height:30px;">
            <h6>Overwatch</h6>
        </a>
        <a href="/games/2" style="display:flex;">
            <img src="{% static 'mlbb.png' %}" alt="" style="width:50px;height:30px;">
            <h6>Mobile Legends:Bang Bang</h6>
        </a>
    </div>
     <div style="margin-left:1200px;margin-top:-100px;position:absolute;">
         {% for tournament in tournamentDetails %}
        <a href="/tournaments/edit/{{tournament.id}}">
        <button style="background-color:green;border-radius: 10px;">Edit Tournament Details</button>
        </a>
         {% endfor %}
    </div>

<div class="container-fluid details">
    <div class="row ">
        <div class="col">Sıra No</div>
        <div class="col">İsim</div>
        <div class="col">Başlangıç Tarihi</div>
        <div class="col">Bitiş Tarihi</div>
        <div class="col">Oyun İsmi</div>
        <div class="col">Turnuva Tipi</div>
        <div class="col">Oyuncular</div>
        <div class="col">Thumbnail</div>
    </div>
    <div class="row">
    <div class="data-container">
        {% for tournamentdetails in tournamentDetails%}
        <div class="row">
            <div class ="col">{{tournamentdetails.id}}</div>
            <div class ="col">{{tournamentdetails.name}}</div>
            <div class ="col">{{tournamentdetails.begginingdate}}</div>
            <div class ="col" style="margin-right:70px">{{tournamentdetails.endingdate}}</div>
            <div class="col">{% for game in games %}
                <p>{{ game.name }}</p>
                {% endfor %}</div>
            <div class="col">
                {% for tournamentType in tournamentTypes %}
                <p>{{ tournamentType.tournamentTypeValue }}</p>
                {% endfor %}
            </div>
            <div class="col">
                <button id="usersButton" onclick="toggleDropdown()">Show Users</button>
                <div class="user-dropdown" id="userDropdown">
                    {% for user in users %}
                        <p>{{ user.nickname }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                    <div><img src="{{ tournamentdetails.thumbnail }}" alt="cannot found" style="height: 200px;width:200px;"></div>
            </div>
        </div>
        </a>
        {% endfor %}

     </div>
    </div>
</div>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("userDropdown");
        dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
    }
</script>
</body>
<style>
.gamesbar a{
        margin-top:20px;
    }
    .gamesbar a img{
        margin-top:5px;
    }
    .gamesbar h6{
        margin-left:10px;
    }
    .details{
        margin-top:200px;
        margin-left:250px;
    }
    .user-dropdown {
            display: none;
        }
</style>
</html>